.top-about-container .text-box {
  margin: 4 0px 10px 0px 10px;
  padding: 10px;
}
.top-about-container ul {
  list-style: none;
  padding: 0;
  font-size: 25px;
}
.top-about-container li {
  color: rgb(233, 238, 255);
  border-radius: 10px;
  background-color: rgb(35, 53, 84);
  border-left: 3px solid rgba(100, 255, 219, 0.466);
  border-right: 3px solid rgba(100, 255, 219, 0.466);
  padding: 10px px 10px 0px;
  margin-bottom: 10px;
  transition: all 0.5s;
}
.top-about-container h3 {
  word-break: keep-all;
  font-family: "Roboto Mono", monospace;
  padding: 3px;
  margin-bottom: 15px;
  border-radius: 10px;
  font-size: 40px;
  color: rgb(100, 255, 218);
}
@media screen and (max-width: 584px) {
  .top-about-container ul {
    font-size: 20px;
  }
  .top-about-container h3 {
    font-size: 30px;
  }
}
.top-about-container li:first-child {
  border-top: 3px solid rgba(100, 255, 219, 0.466);
}
.top-about-container li:last-child {
  border-bottom: 3px solid rgba(100, 255, 219, 0.466);
}

/* scroll down */
.scroll-down {
  font-family: "Roboto Mono", monospace;
  font-size: 40px;
}
.scroll-down-arrow {
  font-size: 60px;
  color: rgb(168, 178, 209);
}
