/* Quando la classe "opaque" è presente, rendi la navbar opaca */
.nav-btn {
  color: rgb(100, 255, 218) !important;
  border-color: rgb(100, 255, 218);
  font-size: bold;
}
.offcanvas-bg {
  background-color: rgb(2, 12, 27) !important;
}
.offcanvas-body {
  overflow-y: visible !important;
}
.offcanvas-header {
  color: rgb(100, 255, 218) !important;
}
.topnav-row.opaque {
  background-color: rgba(2, 12, 27, 0.7) !important ;
}
.topnav-row:hover {
  background-color: rgb(2, 12, 27) !important;
}
/* box */
.topnav-row {
  background-color: rgb(2, 12, 27) !important;
  color: rgb(168, 178, 209) !important;
  transition: background-color 0.5s !important;
  box-shadow: 0px 35px 42px 20px rgba(0, 0, 0, 0.2) !important;
}
/* a */
.nav-title {
  color: rgb(204, 214, 246);
  font-family: "Orbitron", sans-serif;
  font-size: 40px;
}
.a {
  font-size: 70px;
}
/* links */

.shorts-box li {
  font-weight: bolder;
  font-family: "Roboto Mono", monospace;
  margin-right: 10px;
  padding-bottom: 5px;
  font-size: 1.3rem;
}
@media screen and (max-with: 1400px) {
  .shorts-box > ul li {
    font-size: 0.1rem;
  }
}
.shorts-box span {
  color: rgb(100, 255, 218);
  margin-right: 5px;
}
.shorts-box a {
  color: rgb(136, 146, 176);
  text-decoration: none;
  padding-right: 10px;
  transition: color 0.25s;
}
.shorts-box a:hover {
  color: rgb(100, 255, 218);
}
/* una volta selezionata la pagina */
.current-page a {
  color: rgb(100, 255, 218);
}
.current-page .arrow {
  z-index: 3;
  color: transparent;
}
.current-page > a > span {
  color: rgb(136, 146, 176);
}
/* animetion on links*/
.animated-link {
  z-index: 1;
  position: relative;
}

.arrow {
  font-size: 40px;
  position: absolute;
  bottom: -32px;
  left: 16px;
  transform: translateX(-50%);
  opacity: 0;
  transition: opacity 0.3s, transform 0.3s;
}

.animated-link:hover .arrow {
  opacity: 1;
  transform: translateX(-50%) translateY(5px);
}

/* button resume */
.resume-box {
  height: 30px;
}
.resume-button {
  display: inline-block;

  border: 3px solid rgb(100, 255, 218);
  border-radius: 10px;
  background-color: transparent;
  color: rgb(100, 255, 218);
  font-size: 1.3rem;
  cursor: pointer;
  transition: transform 0.25s, box-shadow 0.25s;
}

.resume-button:hover {
  box-shadow: 5px 5px 0px rgb(50, 131, 112);
  color: rgb(0, 0, 0);
  background-color: rgb(118, 253, 222);

  transform: translateY(-8px);
  transform: translateX(-8px);
}

@media screen and (max-with: 1360px) {
  .resume-box {
    padding-top: 20px;
  }
}
