.project {
  height: 905px !important;
}
.project iframe {
  margin: 0px 0px 0px 0px;
  border: 5px solid rgb(73, 86, 112);
  border-radius: 10px;
}
.col-description ul {
  height: 500px;
}

.button-desc-container div {
  color: rgb(207, 219, 255);
  cursor: pointer;
  box-shadow: -15px 0px 0px 0px rgb(50, 131, 112),
    15px 0px 0px 0px rgb(50, 131, 112);
  border-left: 4px solid rgb(100, 255, 218);
  border-right: 4px solid rgb(100, 255, 218);
  border-radius: 10px;
  font-size: 30px;
  padding: 10px 20px;
  margin: 10px 50px 10px 0px;
  transition: background-color 0.5s;
}
.button-desc-container div:hover {
  background-color: rgb(73, 86, 112);
}
.col-description h2 {
  width: fit-content;
  border-radius: 10px;
  padding-left: 10px;
  padding-right: 10px;
  color: rgb(207, 219, 255);
  box-shadow: -15px 0px 0px 0px rgb(50, 131, 112),
    15px 0px 0px 0px rgb(50, 131, 112);
  border-left: 4px solid rgb(100, 255, 218);
  border-right: 4px solid rgb(100, 255, 218);
  font-size: 5rem;
  font-family: "Roboto Mono", monospace;
}
.col-description h3 {
  margin-top: 20px;
  font-size: 2.3rem;
  color: rgb(100, 255, 218);
  padding: 10px;
  box-shadow: -15px -15px 0px 0px rgb(50, 131, 112);
  border-radius: 10px;
  border-top: 4px solid rgb(100, 255, 218);
  border-left: 4px solid rgb(100, 255, 218);
}
.col-description h4 {
  box-shadow: -5px -5px 0px 0px rgb(50, 131, 112);
  width: fit-content;
  border-radius: 10px;
  margin-top: 20px;
  font-size: 2rem;
  color: rgb(100, 255, 218);
  padding: 10px;
  border-left: 4px solid rgb(100, 255, 218);
  border-top: 4px solid rgb(100, 255, 218);
  font-weight: bolder;
}

.col-description p {
  border-radius: 10px;
  font-size: 1.5em;
  color: rgb(207, 219, 255);
  padding-left: 10px;
  border-left: 4px solid rgb(204, 214, 246);
}
.col-description li {
  box-shadow: -5px 5px 0px 0px rgb(35, 53, 84);
  color: rgb(238, 242, 255);
  font-size: 1.5rem;
  margin-top: 15px;
  padding: 10px;
  list-style: none;
  border-bottom: 5px solid rgb(73, 86, 112);
  border-left: 5px solid rgb(73, 86, 112);
  border-radius: 10px;
}
.col-description li span {
  font-size: 1.7rem;
  color: rgb(100, 255, 218);
  font-weight: bold;
}
