body {
  margin: 0;
  padding: 0;
  background-color: rgb(10, 25, 47);
  font-family: "Helvetica Neue", sans-serif;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
/* loader */
.loader-container {
  width: 100%;
  position: fixed;

  z-index: 1;
}
