.color1 {
    color: rgb(2, 12, 27);
}

.color10 {
    color: rgb(10, 25, 47);
}

.color9 {
    color: rgb(35, 53, 84);
}

.color10 {
    color: rgb(35, 53, 84);
}

.color2 {
    color: rgb(73, 86, 112);
}

.color3 {
    color: rgb(136, 146, 176);
}

.color4 {
    color: rgb(168, 178, 209);
}

.color5 {
    color: rgb(204, 214, 246);
}

.color6 {
    color: rgb(204, 214, 246);
}

.color7 {
    color: rgb(204, 214, 246);
}

.color8 {
    color: rgb(100, 255, 218);
}